.card {
    padding:25px;
    border-radius: 5px;
}

.box {
    padding:20px;
    border-radius: 5px;
    height:400px;
    font-size:18px;
    color:black;
    background: #fff;
    margin-top: 50px; 
    margin-bottom: 62px; 
    padding: 10px 20px 10px; 
}

.space {
    margin-right: 30px;
}


.navbar-brand {
    padding:40px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 30px;
}

.img-tiles {
    padding:0px;
}


